@import "./mixin.scss";

.videos__trabajos {
    width: 30%;
    height: 300px;

  }

.primervideo {
@include titulosvideos;
color: rgb(226, 43, 119);

}

.segundovideo {
@include titulosvideos;
color: hotpink;
}

.tercervideo {
@include titulosvideos;
color: rgb(24, 0, 241);
}